---
import BlogPost from '../components/Blog.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <BlogPost
        title="Más de 100 infancias de Alto Hospicio y Pisagua participaron del programa “Exploradores y exploradoras de lo profundo”"
        date={new Date('2025-04-20')}
        image="https://nutme.cl/wp-content/uploads/2025/02/Captura-de-Pantalla-2025-02-19-a-las-10.16.02.png"
        alt="Descripción de la imagen destacada"
        content={`
            <p>Luego de una jornada de capacitación docente, profesoras de la región de Tarapacá guiaron a sus estudiantes a través de una serie de desafíos vinculados a la investigación de los arrecifes mesofóticos de Chile, impulsada por el Núcleo Milenio NUTME.

 

Lo que comenzó como una actividad lúdica y virtual que se implementó el año 2022 con familias de diferentes zonas de Chile, dos años más tarde se transformó en una experiencia presencial en aula para docentes y estudiantes. Dicha iniciativa fue lanzada junto a dos establecimientos de la zona norte del país a fines del año 2024, y pronto se expandirá a otras tres regiones de Chile.

 

El Colegio Metodista Robert Jhonson y la Escuela Básica de Pisagua fueron los primeros protagonistas de esta aventura educativa que buscó acercar a niñas y niños a la investigación científica marina. En una primera instancia, diez profesionales de la educación, entre directivos y docentes participaron de una jornada de capacitación presencial, en la que aprendieron sobre la biodiversidad de los arrecifes rocosos semiprofundos de Chile, también llamados arrecifes mesofóticos -aquellos que se encuentran a más de 30 metros de profundidad en el océano-, respecto de los desafíos de investigarlos y las metodologías que se utilizan para ello. 

</p>
            <img src="https://nutme.cl/wp-content/uploads/2025/02/Captura-de-Pantalla-2025-02-19-a-las-10.04.42-1024x766.png" alt="Otra imagen en el contenido" />
  

        `}
    />
</Layout>
