---
---
<div class="w-full flex flex-col md:flex-row">
    <div class="w-full md:w-1/2 flex flex-col justify-center p-4 md:p-8 lg:p-10 text-gray-700 mt-4 md:mt-0">
        <h1 class="text-2xl md:text-3xl lg:text-4xl mb-4 md:mb-6 font-bold text-center md:text-left w-full">¿Por qué nos interesa explorar estos ecosistemas?</h1>
        <p class="text-base md:text-lg lg:text-xl text-center md:text-left w-full">
            Existe una brecha entre la creciente importancia socioeconómica de los recursos marinos profundos y el
            conocimiento científico que tenemos sobre estos ecosistemas. A diferencia de los arrecifes más superficiales (<span class="italic">menor a 30 metros</span>),
            los arrecifes mesofóticos templados están prácticamente inexplorados en Chile.
        </p>
        <p class="text-base md:text-lg lg:text-xl text-center md:text-left w-full">
            Nos interesa conocer su estructura,
            funcionamiento y potencial conectividad con los ecosistemas someros (más superficiales). Los arrecifes profundos
            podrían representar una <span class="font-semibold">reserva de biodiversidad única</span>, además de un refugio para aquellas
            especies que han sufrido ampliamente por disturbios, amenazas y sobreexplotación en ambientes menos profundos.
        </p>
    </div>
    <!-- Sección de imagen con overlay -->
    <div class="w-full md:w-1/2 flex justify-center items-center p-4 md:p-8 lg:p-10">
        <div class="w-full flex justify-center items-center">
            <div class="relative rounded-xl shadow-lg overflow-hidden group w-full aspect-square md:aspect-auto">
                <img
                    src="http://nutme.cl/wp-content/uploads/2022/04/ALEmarzoALGeditada_2-scaled.jpg"
                    alt="Ecosistema marino"
                    class="w-full h-full object-cover"
                />
                <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-75 transition-all duration-500 ease-in-out flex flex-col justify-center items-center text-white p-4 md:p-6 lg:p-8 opacity-0 group-hover:opacity-100">
                    <h3 class="text-xl md:text-2xl lg:text-3xl text-center font-bold mb-2 md:mb-3 transform translate-y-6 group-hover:translate-y-0 transition-transform duration-700 ease-out">¿Qué son los arrecifes mesofóticos templados?</h3>
                    <p class="text-sm md:text-base lg:text-xl text-center transform translate-y-6 group-hover:translate-y-0 transition-transform duration-700 delay-100 ease-out">Son afloramientos rocosos, que se ubican en latitudes medias, entre rangos de 30 a 300 metros de profundidad. Estos ambientes albergan ecosistemas con especies adaptadas a condiciones de alta presión y luminosidad escasa (mesofótico). La fotosíntesis ocurre al límite.</p>
                </div>
            </div>
        </div>
    </div>
</div>